<!-- <h1>Hello World</h1>
<p>New Angular Project</p> -->

<div class="container-fluid">
  <app-navbar></app-navbar>
  <div class="container">
    <div class="row">
      <!-- <app-main class="col-sm-12"></app-main> -->
      <!-- Day2 -->
      <!-- <app-products-list class="col-sm-12"></app-products-list> -->

      <!-- Day4 -->
      <!-- <app-products-parent></app-products-parent> -->

      <!-- In case routing -->
      <router-outlet></router-outlet>
      <!-- ################ -->
      <!-- <app-sidebar class="col-sm-3"></app-sidebar>
    <app-main class="col-sm-9"></app-main> -->
    </div>
  </div>
  <app-footer></app-footer>
</div>


<!-- Secand case => after add component => group of routes -->
<!-- <app-navbar></app-navbar>
<router-outlet></router-outlet> -->
